---
Checks: >
  readability-*,
  performance-*,
  clang-analyzer-*,
  modernize-*,
  -clang-analyzer-security.insecureAPI.strcpy,
  -readability-magic-numbers,
  -readability-function-cognitive-complexity,
  -google-*

WarningsAsErrors: '*'

HeaderFilterRegex: '^(?!.*/build.*/lvgl|.*/json11).*(.*\.(hpp?|cpp))$'

FormatStyle: none
